*{
  margin: 0;
  padding: 0;
  background-color: #F5F4F0;
  font-family: "Open Sans", sans-serif;
}

h1{
  font-size: 36px;
  font-weight: bold;
  color:#1B1B1B1;
}

h2{
  font-size: 32px;
  font-weight: bold;
  color:#1B1B1B1;
}

h3{
  font-size: 28px;
  font-weight: bold;
}

.headline{
  font-size: 16px;
  font-weight: bold;
  color:#E1624F;
  line-height: 22px;
}

p{
  color:#333333;
}

ul li::marker {
  color: #333333;
}

#page{
  max-width: 1120px ;
  margin: 80px auto 28px;
  box-sizing:initial;
}

#atracoes{
  padding: 64px 0;
}

#banner{
  padding: 40px 0;
}

#banner p{
  font-style: italic;
  text-align: center;
  padding-top: 24px;
}

img{
  border-radius: 28px;
  width: 100%;
}

.destinos{
  padding-bottom: 48px;
}
.destinos img{
  width: 1120px;
  height: 375px;
  object-fit:cover;
  border: 1px solid #D9D9D9;
}

.destinos h3{
  padding-top: 24px;
}

.destinos ul{
  list-style-position: inside;
}

#sobre{
  padding-top: 40px;
  text-align: center;
}

footer{
  text-align: center;
  padding-bottom: 40px;
}